$base: #F3EEEA;
$base-dark: #ECE2D8;
$accent-1: #D8C5B6;
$accent-1-dark: #BF9374;
$accent-2: #D1D1C3;
$accent-2-dark: #878F7B;
$accent-3: #A75813;
$accent-3-dark: #512207;
$white: #FFFFFF;

$desktop: 1440px;
$tablet: 992px;
$mobile: 768px;