$base: #f3eeea;
$base-dark: #ece2d8;
$accent-1: #d8c5b6;
$accent-1-dark: #bf9374;
$accent-2: #d1d1c3;
$accent-2-dark: #878f7b;
$accent-3: #a75813;
$accent-3-dark: #512207;
$white: #ffffff;

$borderRadiusMD: 200px;
$borderRadiusLG: 400px;

//screen sizes
$desktop: 1440px;
$tablet: 992px;
$mobile: 768px;
$mobileXS: 500px;
