@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

.footer {
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  &-content {
    padding: 7rem 0;
  }
  &-social {
    &-container {
      width: 20%;
      & > p {
        margin-bottom: 0;
      }
      &:first-child {
        text-align: right;
      }
    }
    &-link {
      @include flexbox();
      align-items: center;
      margin-top: 1rem;
      &-left {
        justify-content: flex-end;
      }
      &.mobile-show {
        display: none;
      }
    }
  }

  &-logo {
    width: 18%;
  }

  &-links {
    padding: 2rem 0;
    &-bg {
      background-color: var.$accent-1;
    }
    &-container {
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
    &-divider {
      background-color: var.$accent-1-dark;
      height: 1.75rem;
      width: 2px;
    }
  }

  &-rights {
    padding: 1rem 0;
    position: relative;

    &-bg {
      background-color: var.$accent-1-dark;
    }
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 2rem;
  height: 2rem;
  min-width: 2rem;
  width: 2rem;
  &-insta {
    background-image: url("../../public/assets/icons/instagram.png");
    margin-left: 1rem;
  }
  &-email {
    background-image: url("../../public/assets/icons/email.png");
    margin-right: 1rem;
  }
}

.legal {
  font-size: 0.75rem;
  margin-left: 2rem;
}

.backToTop {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  background-color: var.$base-dark;
  border-radius: 200px 200px 0 0;
  bottom: 0;
  padding: 2rem 3rem 0 3rem;
  position: absolute;
  right: 0px;

  & > p {
    font-family: "Homemade Apple", cursive;
    margin: 0;
  }

  &-arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../public/assets/icons/arrow-up.png");
    height: 25px;
    margin-bottom: 0.5rem;
    width: 25px;
  }
}

// all rules outside of @media queries apply to devices 1201px and above
@media (max-width: var.$desktop) {
  // rules here apply to devices from 993px to 1400px (inclusive)
  .footer {
    &-content {
      padding: 5rem 0;
    }
    &-social {
      &-container {
        width: 27%;
      }
    }
  }

  .backToTop {
    padding: 1rem 2rem 0rem 2rem;
    font-size: 1.25rem;
    right: 2rem;
  }
}

@media (max-width: var.$tablet) {
  // rules here apply to devices from 769px to 992px (inclusive)
  .footer {
    &-content {
    }

    &-social {
      &-container {
        width: 35%;
        & > p {
        }
      }
    }

    &-logo {
      width: 15%;
      margin-right: 2rem;
      min-width: 80px;
    }

    &-links {
      &-container {
        gap: 1rem;
      }
    }
  }

  .icon {
    &-insta {
      margin-left: 0rem;
      margin-right: 1rem;
    }
  }

  .backToTop {
    &-mobile {
      padding: 1rem 0;

      & > p {
        font-family: "Homemade Apple", cursive;
        margin: 0 1.5rem;
      }

      &-bg {
        background-color: var.$base-dark;
      }
    }
  }
}

@media (max-width: var.$mobile) {
  // rules here apply to devices from 501px to 768px (inclusive)
  .footer {
    &-content {
      padding: 3rem 0;
    }
    &-social {
      &-container {
        width: fit-content;
      }
      &.mobile-show {
        display: flex;
      }
      &-link {
        margin-top: 0rem;
        &.mobile-show {
          display: flex;
        }
      }
    }
    &-rights {
      justify-content: center;
    }
    &-links {
      padding: 1.5rem 0;
    }
    &-rights {
      padding: 0.5rem 0;
    }
    &-logo {
      border-right: 2px solid var.$accent-1-dark;
      margin-right: 1rem;
    }
  }

  .legal {
    text-align: center;
  }

  .icon {
    min-height: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    width: 1.5rem;
  }

  .backToTop{
    display: none;
  }
}

@media (max-width: var.$mobileXS) {
  // rules here apply to devices from 0px to 500px (inclusive)
  .footer {
    font-size: 0.8rem;
  }
}
