@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

body {
  background-color: var.$base;
  color: var.$accent-3-dark;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  overflow-x: hidden;

  &.lock-scrolling{
    overflow: hidden;
  }
}

a {
  color: var.$accent-3-dark;
  text-decoration: none;

  &:hover {
    color: var.$accent-3;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  color: var.$accent-3-dark;
  font-size: 3rem;
  margin: 0;
}

h2 {
  color: var.$accent-3;
  font-family: "Homemade Apple", cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;

  &.dark {
    color: var.$accent-3-dark;
  }
}

h3 {
  font-size: 3rem;
}

button {
  border: none;
  background-color: var.$accent-3-dark;
  color: var.$white;
  font-size: 1.5rem;
  padding: 1rem 6rem;
  width: fit-content;
}

.container {
  @include flexbox();
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 3rem;
  width: 100%;
  &-full {
    @include flexbox();
    max-width: 1440px;
    padding: 0;
    width: 100%;
  }
  &-outer {
    @include flexbox();
    justify-content: center;
    width: 100%;
  }
}

ul {
  padding-left: 20px;
}

.center {
  justify-content: center;
}

.column {
  align-items: center;
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.section-margin {
  margin-top: 6rem;
}

.logo {
  background-image: url("../../public/assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile {
  &-show {
    display: none;
  }
}

// all rules outside of @media queries apply to devices 1201px and above
@media (max-width: var.$desktop) {
  // rules here apply to devices from 993px to 1200px (inclusive)
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: var.$tablet) {
  // rules here apply to devices from 769px to 992px (inclusive)
  h2 {
    font-size: 2.25rem;
  }
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: var.$mobile) {
  // rules here apply to devices from 0px to 768px (inclusive)
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  .container {
    padding: 0 1rem;
  }

  button {
    padding: 1rem 2rem;
    width: 100%;
  }

  .mobile {
    &-hide {
      display: none;
    }
    &-show {
      display: flex;
    }
  }
}

.section-margin {
  margin-top: 3rem;
}

@media (max-width: var.$mobileXS) {
  body {
    font-size: 1.1rem;
  }
}
