@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

.hero {
    height: 83vh;
    max-height: 800px;
    min-height: 650px;
    justify-content: space-between;
    &-1 {
        width: 20%;
        background-image: url("../../public/assets/prints/hero-1.png");
        background-position: center;
        background-size: cover;
    }
    &-2 {
        width: 26%;
        background-image: url("../../public/assets/prints/hero-2.png");
        background-position: center;
        background-size: cover;
    }
    &-3 {
        width: 50%;
        @include flexbox();
        flex-direction: column;
        &-text {
            background-color: var.$accent-2;
            padding: 4rem 3rem;
            & > * {
                max-width: 450px;
            }
        }
        &-image {
            height: 100%;
            background-image: url("../../public/assets/prints/hero-3.png");
            background-position: center;
            background-size: cover;
            width: 100%;
        }
    }
}

// all rules outside of @media queries apply to devices 1201px and above
@media (max-width: var.$desktop) {
    // rules here apply to devices from 993px to 1200px (inclusive)
    .hero {
        &-3 {
            &-text {
                padding: 3rem 3rem;
            }
        }
    }
}
@media (max-width: var.$tablet) {
    // rules here apply to devices from 769px to 992px (inclusive)
    .hero {
        &-1 {
            display: none;
        }
        &-2 {
            width: 49%;
        }
        &-3 {
            &-text {
                padding: 6rem 3rem;
            }
        }
    }
}

@media (max-width: var.$mobile) {
    // rules here apply to devices from 501px to 768px (inclusive)
    .hero {
        max-height: 600px;
        &-2 {
            width: 40%;
        }
        &-3 {
            width: 57%;
        }
    }
}

@media (max-width: var.$mobileXS) {
    // rules here apply to devices from 0px to 500px (inclusive)
    .hero {
        height: 85vh;
        max-height: 800px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        &-1 {
            display: unset;
            width: 35%;
        }
        &-2 {
            width: 65%;
            background-position: center;
        }
        &-3 {
            width: 100%;
            &-text {
                padding: 2rem;
            }
        }
    }
}
