@use "../styles/_variables.scss" as var;

.hero {
    height: 80vh;
    max-height: 800px;
    justify-content: space-between;
    &-1 {
        width: 20%;
        background-image: url("../../public/assets/prints/hero-1.png");
        background-position: center;
        background-size: cover;
    }
    &-2 {
        width: 26%;
        background-image: url("../../public/assets/prints/hero-2.png");
        background-position: center;
        background-size: cover;
    }
    &-3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        &-text {
            background-color: var.$accent-2;
            padding: 4rem 3rem;
            & > * {
                max-width: 450px;
            }
        }
        &-image {
            height: 100%;
            background-image: url("../../public/assets/prints/hero-3.png");
            background-position: center;
            background-size: cover;
            width: 100%;
        }
    }
}

// all rules outside of @media queries apply to devices 1201px and above
@media (max-width: var.$desktop) {
    // rules here apply to devices from 993px to 1200px (inclusive)
    .hero {
        &-3 {
            &-text {
                padding: 3rem 3rem;
            }
        }
    }
}
@media (max-width: var.$tablet) {
    // rules here apply to devices from 769px to 992px (inclusive)
    .hero {
        &-3 {
            &-text {
                padding: 2rem 3rem;
            }
        }
    }
}
@media (max-width: var.$mobile) {
    // rules here apply to devices from 0px to 768px (inclusive)
}
