@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

.how {
  padding-top: 3rem;
  padding-bottom: 6rem;

  &-bg {
    background-color: var.$base-dark;
  }

  &-grid {
    @include flexbox();
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;

    &-item {
      @include flexbox();
      aspect-ratio: 1 / 1;
      align-items: center;
      background-color: var.$accent-2;
      justify-content: center;
      overflow: hidden;
      position: relative;
      width: 28%;

      & > p {
        margin: 0;
      }

      &-detail {
        max-width: 70%;
        padding-bottom: 3rem;
        text-align: center;
        box-sizing: border-box;
        z-index: 1;
      }
      &-name {
        @include flexbox();
        align-items: center;
        background-color: var.$accent-2-dark;
        bottom: 0;
        box-sizing: border-box;
        color: var.$white;
        font-size: 1.8rem;
        justify-content: center;
        padding: 1.1rem 1rem;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &-number {
    color: var.$white;
    font-size: 22vw;
    position: absolute;
    opacity: 40%;
    left: -2vw;
    &-1{
      left: -3.2vw;
    }
  }
}

// all rules outside of @media queries apply to devices 1401px and above
@media (max-width: var.$desktop) {
  // rules here apply to devices from 993px to 1400px (inclusive)
  .how {
    &-grid {
      &-item {
        width: 28%;
        &-detail {
          font-size: 1.3rem;
          max-width: 85%;
        }
        &-name {
          font-size: 1.7rem;
          padding: 1rem;
        }
      }
    }
  }
}
@media (max-width: var.$tablet) {
  // rules here apply to devices from 769px to 992px (inclusive)
  .how {
    &-grid {
      &-item {
        width: 30%;
        &-detail {
          font-size: 1.1rem;
        }
        &-name {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
@media (max-width: var.$mobile) {
  // rules here apply to devices from 501px to 768px (inclusive)
  .how {
    &-grid {
      flex-direction: column;
      align-items: flex-end;
      &-item {
        align-items: unset;
        aspect-ratio: unset;
        flex-direction: row-reverse;
        margin-bottom: 2rem;
        width: 100%;
        &-detail {
          font-size: 1.4rem;
          padding: 3rem 2rem;
          text-align: left;
          width: 70%;
        }
        &-name {
          position: relative;
          flex: 1;
          width: 30%;
        }
      }
    }

    &-number {
      font-size: 25vw;
      line-height: 18vw;
      left: unset;
      right: -1rem;
      bottom: 0;
    }
  }
}

@media (max-width: var.$mobileXS) {
  .how {
    &-grid {
      &-item {
        margin-bottom: 2rem;
        &-detail {
          max-width: 75%;
          font-size: 1.1rem;
          padding: 2rem;
        }
        &-name {
          font-size: 1.3rem;
          padding: 0.5rem;
        }
      }
    }
    &-number {
      right: -0.5rem;
    }
  }
}
