@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

.oops {
  @include flexbox();
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  &-bg {
    background-color: var.$base-dark;
  }
  & h1 {
    font-family: "Homemade Apple", cursive;
  }
}

// all rules outside of @media queries apply to devices 1401px and above
@media (max-width: var.$desktop) {
  // rules here apply to devices from 993px to 1400px (inclusive)
}
@media (max-width: var.$tablet) {
  // rules here apply to devices from 769px to 992px (inclusive)
}

@media (max-width: var.$mobile) {
  // rules here apply to devices from 501px to 768px (inclusive)
}

@media (max-width: var.$mobileXS) {
  // rules here apply to devices from 0px to 500px (inclusive)
}
