@use "../styles/_variables.scss" as var;
@import "../styles/_mixin.scss";

$imageRightHeight: 500px;

.who {
    &-content {
        background-color: var.$accent-1-dark;

        &-left {
            @include flexbox();
            flex-direction: column;
            width: 35%;
            &-copy {
                color: var.$white;
                padding: 3rem 0;
                & h3 {
                    font-size: 3rem;
                }
                & p {
                    max-width: 80%;
                }
            }
            &-image {
                background-image: url("../../public/assets/prints/me-left.jpg");
                background-position: center bottom;
                background-size: cover;
                flex: 1;
                min-height: 550px;
                width: 100%;
            }
        }
        &-right {
            @include flexbox();
            flex-direction: column;
            width: 65%;
            &-image {
                background-image: url("../../public/assets/prints/me-right.jpg");
                background-position: center;
                background-size: cover;
                height: $imageRightHeight;
                width: 100%;
            }
        }
    }
}

.facts {
    &-container {
        background-color: var.$accent-1;
        @include flexbox();
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: 2rem 5rem;
    }
}
